<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
		<remove name="aspNetCore" />
		<remove name="PHP-phtml" />
		<remove name="PHP-php3" />
		<remove name="PHP-php" />
		<add name="PHP-php" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Plesk\Additional\PleskPHP70\php-cgi.exe" resourceType="Either" requireAccess="Script"/>
		<add name="PHP-php3" path="*.php3" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Plesk\Additional\PleskPHP70\php-cgi.exe" resourceType="Either" requireAccess="Script"/>
		<add name="PHP-phtml" path="*.phtml" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Plesk\Additional\PleskPHP70\php-cgi.exe" resourceType="Either" requireAccess="Script"/>
    </handlers>
	

	<staticContent>
       <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" /> <!-- 1 day -->
    </staticContent>
	
  </system.webServer>
</configuration>
